body {
    position: relative;
    width: 1208px;
    height: 688px;

    background: rgba(255, 255, 255, 0.5);
}

button {
    position: relative;
    width: 282px;
    height: 91px;

    background: #CDCDCD;
    border-radius: 12px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 56px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

button {
    position: relative;
    width: 282px;
    height: 91px;

    background: #CDCDCD;
    border-radius: 12px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 56px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

h1 {
    position: absolute;
    width: 251px;
    height: 55px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 40px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

div {
    position: absolute;
    width: 133px;
    height: 15px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 10px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
} 

h2 {
    position: absolute;
    width: 195px;
    height: 59px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 40px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}